---
import Layout from '@layouts/PageLayout.astro';
import type { MetaSEO } from 'types/metaseo';
import { config } from '@config.js';

import Hero from '@widgets/Hero.astro';

import Products from '@widgets/Products.astro';
import Contact from '@widgets/Contact.astro';
import About from '@widgets/About.astro';
import Team from '@widgets/Team.astro';
import DividerTilt from '@common/dividers/DividerTilt.astro';

const meta: MetaSEO = {
    title: config.title,
    description: config.description,
    canonical: Astro.url.toString(),
    og: {
        type: 'website',
    },
};
---

<Layout {meta}>
    <Hero />
    <div class='flex flex-col'>
        <section class='flex flex-col w-full relative'>
            <div class='flex flex-col sw-container mx-auto space-y-8'>
                <header>
                    <h2 class='uppercase text-on-surface'>Nossos serviços</h2>
                    <h3 class='sw-text-gradient from-primary to-accent'>Um resumo do que desenvolvemos</h3>
                </header>
                <Products className='z-20'/>
            </div>
            <DividerTilt class='absolute bottom-0 w-full -rotate-180 fill-surface-dim' />
        </section>

        <section class='w-full bg-surface-dim shadow-md'>
            <div class='flex flex-col sw-container mx-auto py-8 space-y-8'>
                <header>
                    <h2 class='uppercase text-on-surface'>Sobre nós</h2>
                    <h3 class='sw-text-gradient from-primary to-accent'>Encantamos com tecnologia ❤</h3>
                </header>
                <About />
            </div>
        </section>

        <!-- <section class='w-full'>
        <div class='sw-container mx-auto'>
            <Team />
        </div>
    </section> -->

        <!-- <section class='w-full'>
        <div class='sw-container mx-auto'>
            <Contact />
        </div>
    </section> -->
    </div>
</Layout>
