---
import Layout from '@layouts/PoliciesPageLayout.astro';
import PrivacyContent from '@content/policies/privacy.md';
---

<Layout>
    <div class='relative flex flex-col bg-surface-bright text-on-surface z-10'>
        <section class='flex flex-col w-full md:sticky top-0 pt-12 md:py-24'>
            <div class='sw-container flex flex-col space-y-10 z-10'>
                <header class='text-center md:text-right'>
                    <h2 class='sw-display text-primary pb-2'>Sua história, nossa magia.</h2>
                    <h3 class='sw-pulse from-primary to-tertiary'>
                        Trazemos suas ideias de apps, jogos e sites à vida.
                    </h3>
                </header>
                <PrivacyContent />
            </div>
        </section>
    </div>
</Layout>
