@layer base {
    h1 {
        @apply text-3xl font-black;
    }

    h2 {
        @apply text-2xl font-extrabold;
    }

    h3 {
        @apply text-xl font-bold;
    }

    h4 {
        @apply text-lg font-semibold;
    }

    h5 {
        @apply text-base font-semibold;
    }

    h6 {
        @apply text-base font-semibold;
    }

    a {
        @apply text-on-surface underline-offset-3 relative m-0 cursor-pointer underline transition-all duration-300;

        &:hover {
            @apply text-primary;
        }

        &:hover:has(img)::after,
        &:hover:has(svg)::after,
        &:hover:has(button)::after {
            @apply w-0 no-underline;
        }

        &::after {
            @apply bg-primary absolute bottom-0 left-0 h-0.5 w-0 transition-all duration-300;
            content: '';
        }

        &:hover::after {
            @apply w-full;
        }
    }

    button {
        @apply cursor-pointer;
    }

    ul {
        @apply list-disc space-y-2 pl-4;

        li {
            @apply text-base font-normal;
        }
    }

    ol {
        @apply list-none space-y-2 pl-4;
        counter-reset: item;

        li {
            @apply relative text-base font-normal;
            counter-increment: item;
            @apply pl-8;

            &::before {
                @apply absolute left-0 inline-block w-8 pr-2 text-right;
                content: counters(item, '.') '.';
            }
        }
    }

    table {
        @apply bg-surface-container hover:shadow-primary/10 overflow-hidden rounded-lg shadow-xl transition-all;

        tr {
            @apply bg-surface-container;

            &:nth-child(even) {
                @apply bg-surface-container-high;
            }

            &:hover {
                @apply bg-surface-container-highest;
            }
        }

        th {
            @apply p-4;
        }

        td {
            @apply p-4;
        }

        tbody {
            tr {
                @apply border-surface-dim border-t;
            }
        }
    }

    html {
        ::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }

        ::-webkit-scrollbar-button {
            width: 0;
            height: 0;
        }

        ::-webkit-scrollbar-thumb {
            background: #e1e1e1;
            border: 0 none #fff;
            border-radius: 50px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #fff;
        }

        ::-webkit-scrollbar-thumb:active {
            background: #000;
        }

        ::-webkit-scrollbar-track {
            background: #666;
            border: 0 none #fff;
            border-radius: 50px;
        }

        ::-webkit-scrollbar-track:hover {
            background: #666;
        }

        ::-webkit-scrollbar-track:active {
            background: #333;
        }

        ::-webkit-scrollbar-corner {
            background: transparent;
        }
    }
}

@layer components {
    .sw-subtitle {
        @apply font-mono;
    }

    .sw-container {
        @apply mx-auto flex w-full max-w-7xl px-4;
    }

    .sw-display {
        @apply text-5xl font-black md:text-6xl;
    }

    .sw-reflected-gradient {
        @apply from-sw-navy-400 via-sw-navy-200 to-sw-navy-400 dark:from-sw-plum-800 dark:via-sw-plum-400 dark:to-sw-plum-800 bg-linear-to-bl;
    }

    .sw-halftone {
        --stop1: 0.1rem; /* tamanho da bolinha */
        --stop2: 0.1rem; /* tamanho da bolinha */
        --blur: 0rem; /* intensidade do blur */
        z-index: 0;

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            inset: 0;
            background-image: radial-gradient(circle at center, currentColor var(--stop1), transparent var(--stop2));
            background-size: 2.5rem 2.5rem; /* espaçamento entre as bolinhas */
            background-position: 2.5rem 2.5rem; /* centraliza o padrão */
            background-repeat: round;
            filter: blur(var(--blur));
            opacity: 0.1;
        }
    }

    @keyframes sw-scale-down {
        from {
            transform: scale(var(--scale-down-from));
        }
        to {
            transform: scale(var(--scale-down-to));
        }
    }

    @keyframes sw-size-down {
        to {
            height: var(--height-down-to);
            width: var(--width-down-to);
        }
    }

    @keyframes sw-opacity-down {
        to {
            opacity: var(--opacity-down-to);
        }
    }

    .sw-pulse {
        --bg-y-from: 0%;
        --bg-y-to: 50%;

        @apply bg-linear-to-b bg-clip-text font-black text-transparent;
        background-size: 100% 200%;
        background-position-y: 100%;
        animation: sw-pulse 2s ease-in-out infinite;
    }

    @keyframes sw-pulse {
        0%,
        100% {
            background-position-y: var(--bg-y-from);
        }
        50% {
            background-position-y: var(--bg-y-to);
        }
    }
}
