@keyframes move-on-path {
    0% {
        offset-distance: 0%;
        opacity: 1;
    }
    100% {
        offset-distance: 100%;
    }
}

@keyframes rocket-path {
    0% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
    100% {
        stroke-dashoffset: -16;
        opacity: 0;
    }
}
