@keyframes move-on-path {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}

@keyframes rocket-path {
    0% {
        opacity: 0;
        stroke-dashoffset: 16;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        stroke-dashoffset: 0;
    }
}
