---
import FlashCard from '@common/ProductCard/FlashCard';
import { Products as ProductsReact } from '@common/ProductCard/RocketCard/Products';
import { cn } from '@helpers/cn';

export interface Props {
    className?: string;
    [props: string]: any;
}

const { className, ...props } = Astro.props as Props;
---

<div class={cn('flex flex-col md:flex-row w-full justify-between', className)}>
    <ProductsReact client:only className={cn(className)} {...props} />
</div>

<!-- <ProductCard
            client:visible
            index={0}
            iconSrc='./models/products/product_model-games_placeholder.gltf'
            iconColor={0x005ce6}
            tooltip
        >
            <span slot='title'>Jogos e Gamificação</span>
            <span slot='subtitle'>Magia e entretenimento em experiências jogáveis.</span>
            <span slot='description'>
                Criar jogos é dar forma a ideias por meio de sistemas, mundos e interações. Desenvolvemos experiências
                únicas com foco em narrativa, jogabilidade e design funcional.
                <ul>
                    <li>Desenvolvimento em C# (Godot);</li>
                    <li>Prototipagem rápida e validação;</li>
                    <li>Game design e balanceamento;</li>
                    <li>Organização de projetos colaborativos.</li>
                </ul>
            </span>
        </ProductCard>
        <ProductCard
            index={1}
            client:visible
            iconSrc='./models/products/product_model-web_placeholder.gltf'
            iconColor={0xff62f2}
        >
            <span slot='title'>Sistemas Web acessíveis e responsivos</span>
            <span slot='subtitle'>Sites, páginas e plataformas que engajam de verdade.</span>
            <span slot='description'>
                Unimos web e game design para transformar sites em experiências vivas. Incorporamos elementos 3D,
                interações jogáveis e sistemas de progressão para dar vida ao conteúdo.
                <ul>
                    <li>Sites institucionais e interativos;</li>
                    <li>Aplicações com gamificação;</li>
                    <li>Integração com APIs e back-ends;</li>
                    <li>Animações e navegação personalizada.</li>
                </ul>
            </span>
        </ProductCard>
        <ProductCard
            index={2}
            client:visible
            iconSrc='./models/products/product_model-apps_placeholder.gltf'
            iconColor={0x005ce6}
        >
            <span slot='title'>Apps e soluções interativas </span>
            <span slot='subtitle'>Aplicações que encantam pela experiência.</span>
            <span slot='description'>
                Desenvolvemos apps com foco em UX, imersão e fluidez. Seja para fins educativos, culturais ou
                promocionais, criamos experiências envolventes que conectam pessoas e ideias.
                <ul>
                    <li>Apps multiplataforma;</li>
                    <li>Protótipos navegáveis;</li>
                    <li>Interfaces intuitivas e acessíveis;</li>
                    <li>Mecânicas lúdicas e interativas.</li>
                </ul>
            </span>
        </ProductCard>
        <ProductCard
            index={3}
            client:visible
            iconSrc='./models/products/product_model-music_placeholder.gltf'
            iconColor={0xff62f2}
        >
            <span slot='title'>Sonoplastia, áudio e música</span>
            <span slot='subtitle'>Imersão sonora sob medida para o seu projeto.</span>
            <span slot='description'>
                Cuidamos de cada etapa da produção sonora - da composição à finalização. Criamos trilhas e paisagens
                sonoras que ampliam o impacto emocional e narrativo dos projetos.
                <ul>
                    <li>Trilha sonora original;</li>
                    <li>Efeitos sonoros e ambiências;</li>
                    <li>Mixagem e masterização;</li>
                    <li>Áudio adaptado para jogos e vídeos.</li>
                </ul>
            </span>
        </ProductCard> -->
