---
import Layout from '@layouts/PoliciesPageLayout.astro';
import { getSlugFromURL } from '@core/Path';

export async function getStaticPaths() {
	const all = await Astro.glob('../../data/policies/*.md');
	return all.map(({ file, ...page }) => {
		const slug = getSlugFromURL(file);
		return {
			params: {
				slug: slug,
			},

			props: {
				page: {
					...page,
				},
			},
		};
	});
}

const { page } = Astro.props;
---

<Layout>
	<div class="min-h-screen spacewiz__container policy">
		<div class="pb-8 h-full bg-sw-secondary-200 dark:bg-sw-primary-700">
			<article class="px-4 md:px-8">
				<page.Content />
			</article>
		</div>
	</div>
</Layout>
