*.js    linguist-detectable=true
*.ts    linguist-detectable=true
*.astro linguist-detectable=true
*.scss  linguist-detectable=true

*.html  linguist-detectable=false
*.xml   linguist-detectable=false