{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 180,
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2
}
