{
    "$schema": "https://json.schemastore.org/prettierrc",
    "plugins": ["prettier-plugin-tailwindcss"],
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "printWidth": 180,
    "quoteProps": "consistent",
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4
}
