---
import { IconMenu } from '@assets/icons/IconMenu';
---

<button
    id='toggle-btn'
    type='button'
    class='rounded-lg text-sm inline-flex items-center relative text-white'
    data-toggle-menu
>
    <IconMenu className='w-6 h-6' />
</button>

<script is:inline>
    function attachEvent(selector, event, fn) {
        const matches = document.querySelectorAll(selector);
        if (matches && matches.length) {
            matches.forEach((elem) => {
                elem.addEventListener(event, () => fn(elem), false);
            });
        }
    }

    document.addEventListener('DOMContentLoaded', function (e) {
        attachEvent('[data-toggle-menu]', 'click', function (elem) {
            elem.classList.toggle('toggled');

            document.body.classList.toggle('overflow-hidden');
            document.getElementById('menu')?.classList.toggle('hidden');
        });
    });

    window.onpageshow = function () {
        const elem = document.querySelector('[data-toggle-menu]');
        if (elem) {
            elem.classList.remove('toggled');
        }
        document.body.classList.remove('overflow-hidden');
        document.getElementById('menu')?.classList.add('hidden');
    };
</script>
