---
export interface Props {
    [props: string]: any;
}

const { ...props } = Astro.props as Props;
// TODO: add some animations when scrolling / using the mouse
---

<div {...props}>
    <svg fill='currentColor' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1400 310'>
        <defs>
            <linearGradient id='gradient' x1='0%' y1='0%' x2='0%' y2='100%'>
                <stop offset='0%' stop-color='currentColor' stop-opacity='0.3'></stop>
                <stop offset='95%' stop-color='currentColor' stop-opacity='1'></stop>
            </linearGradient>
        </defs>

        <path
            class='fill-[url(#gradient)]'
            d='M0,192L48,208C96,224,192,256,288,266.7C384,277,480,267,576,240C672,213,768,171,864,176C960,181,1056,235,1152,213.3C1248,192,1344,96,1392,48L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'
        ></path>
    </svg>
</div>
