---
import { ProductGallery } from '@common/ProductGallery';
import { cn } from '@lib/utils';

import { getAllProducts, type ProcessedProduct } from '@lib/collections/productHelpers';

export interface Props {
    className?: string;
}

const { className } = Astro.props as Props;

const products: ProcessedProduct[] = await getAllProducts();

---

<div class={cn('flex flex-col md:flex-row w-full justify-between', className)}>
    <ProductGallery client:only products={products} />
</div>