---
import FlashCard from '@common/ProductCard/FlashCard';
import { Products as ProductsReact } from '@common/ProductCard/RocketCard/Products';
import { cn } from '@helpers/cn';

export interface Props {
    className?: string;
}

const { className } = Astro.props as Props;
---

<div class={cn('flex flex-col md:flex-row w-full justify-between', className)}>
    <ProductsReact client:only />
</div>
