---
import { ProductGallery } from '@common/ProductGallery';
import { cn } from '@lib/utils';
import { marked } from 'marked'; // Import marked

import { getAllProducts, type ProcessedProduct } from '@lib/collections/productHelpers';

export interface Props {
    className?: string;
}

const { className } = Astro.props as Props;

let products: ProcessedProduct[] = await getAllProducts();

products = products.map((product) => {
    if (product.description) {
        return {
            ...product,
            description: marked.parse(product.description) as string,
        };
    }
    return product;
});
---

<div class={cn('flex flex-col md:flex-row w-full justify-between', className)}>
    <ProductGallery client:only products={products} />
</div>
