---
import { Image } from '@astrojs/image/components';

export type PartnersProps = {
	src: string;
	description: string;
};

type Props = {
	partners: PartnersProps[];
};

const { partners, ...props } = Astro.props as Props;
---

<div {...props}>
	<section class="flex w-full p-8 gap-4 items-center justify-center  bg-sw-coal text-white">
		{
			partners.map((partner) => (
				<div>
					<img class="w-32" src={partner.src} alt="" />
					<p>{partner.description}</p>
				</div>
			))
		}
	</section>
</div>
