---
import { Image } from '@astrojs/image/components';

type PartnersProps = {
	src: string;
	description: string;
};

type Props = {
	partners: PartnersProps[];
};

const { partners, ...props } = Astro.props as Props;
---

<div {...props}>
	<section class="flex items-center justify-center">
		<div class="flex flex-row p-6 gap-4 rounded-xl bg-sw-secondary-900 dark:bg-sw-primary-900">
			{
				partners.map((partner) => (
					<div>
						<img class="w-32" src={partner.src} alt="" />
						<p>{partner.description}</p>
					</div>
				))
			}
		</div>
	</section>
</div>
