---
import { Image } from '@astrojs/image/components';

type Props = {
	heroSrc: string;
};

const { heroSrc, ...props } = Astro.props as Props;
---

<div {...props}>
	<figure class="h-full w-full">
		<Image fit="cover" aspectRatio="16:9" format="webp" src={heroSrc} alt="" />
	</figure>
</div>
