<h1 class="spacewiz__text--reversed my-4">Demonstração</h1>

<figure class="flex w-full gap-4">
	<div
		class="card w-1/3 overflow-hidden spacewiz__bg--reversed spacewiz__text shadow-md shadow-sw-navy/25 dark:shadow-sw-flamingo-700/10 transition-shadow duration-500 bg-gradient-to-b rounded-2xl from-sw-secondary-200 to-sw-secondary-300 dark:from-sw-primary-600 dark:to-sw-primary-600 text-sw-primary dark:text-sw-secondary"
	>
		<img class="max-h-40" src="https://api.lorem.space/image/car?hash=8B7BCDC2" />
		<div class="p-6">
			<h4>Titulo</h4>
			<p>Descrição</p>
		</div>
	</div>
	<div
		class="card w-1/3 overflow-hidden spacewiz__bg--reversed spacewiz__text shadow-md shadow-sw-navy/25 dark:shadow-sw-flamingo-700/10 transition-shadow duration-500 bg-gradient-to-b rounded-2xl from-sw-secondary-200 to-sw-secondary-300 dark:from-sw-primary-600 dark:to-sw-primary-600 text-sw-primary dark:text-sw-secondary"
	>
		<img class="max-h-40" src="https://api.lorem.space/image/car?hash=500B67FB" />
		<div class="p-6">
			<h4>Titulo</h4>
			<p>Descrição</p>
		</div>
	</div>
	<div
		class="card w-1/3 overflow-hidden spacewiz__bg--reversed spacewiz__text shadow-md shadow-sw-navy/25 dark:shadow-sw-flamingo-700/10 transition-shadow duration-500 bg-gradient-to-b rounded-2xl from-sw-secondary-200 to-sw-secondary-300 dark:from-sw-primary-600 dark:to-sw-primary-600 text-sw-primary dark:text-sw-secondary"
	>
		<img class="max-h-40" src="https://api.lorem.space/image/car?hash=A89D0DE6" />
		<div class="p-6">
			<h4>Titulo</h4>
			<p>Descrição</p>
		</div>
	</div>
</figure>
