---
import SimpleCarousel from '@atoms/SimpleCarousel';
import type { CarouselProps } from '@atoms/SimpleCarousel';

export type ImageProps = {
	src: string;
	title: string;
	description: string;
};

export type Props = CarouselProps & {
	[props: string]: any;
};

const { images, ...props } = Astro.props as Props;
---

<figure {...props}>
	<h2>Galeria</h2>
	<SimpleCarousel images={images} client:load />
</figure>
