---
import { Image } from '@astrojs/image/components';

type PartnersProps = {
	src: string;
	description: string;
};

type Props = {
	partners: PartnersProps[];
};

const { partners, ...props } = Astro.props as Props;
---

<div {...props}>
	<h1 class="spacewiz__text--reversed my-4">Parceiros</h1>
	<section class="p-6 bg-sw-primary-700 rounded-xl">
		<div class="grid grid-rows-1 grid-flow-col gap-4">
			{
				partners.map((partner) => (
					<div>
						<img class="w-32" src={partner.src} alt="" />
						<p class="text-white">{partner.description}</p>
					</div>
				))
			}
		</div>
	</section>
</div>
