---
import { cn } from '@lib/utils';

export interface Props {
    mobileImagePath: string;
    desktopImagePath: string;
    className?: string;
    imgClassName?: string;
    altText?: string;
}

const { mobileImagePath, desktopImagePath, className, imgClassName, altText = 'Imagem do projeto' } = Astro.props as Props;
---
<div class={cn(
        'flex flex-col relative w-full h-screen overflow-hidden pointer-events-none', 
        className )}>
    <picture>
        <source media='(max-width: 767px)' srcset={mobileImagePath} />
        <source media='(min-width: 768px)' srcset={desktopImagePath} />
        <img
            src={desktopImagePath}
            alt={altText}
            loading='eager'
            class={cn('relative w-screen h-screen object-cover', imgClassName)}
        />
    </picture>
</div>