---
import { LoremIpsum } from 'lorem-ipsum';
import { Image, Picture } from '@astrojs/image/components';
import swIcon from '@images/sw_icon.svg';

const lorem = new LoremIpsum(
	{
		sentencesPerParagraph: {
			max: 10,
			min: 5,
		},
		wordsPerSentence: {
			max: 20,
			min: 10,
		},
	},
	'html'
);
export interface Props {
	[props: string]: any;
}

const { ...props } = Astro.props as Props;
---

<div {...props}>
	<header>
		<h1 class="font-black uppercase text-4xl mb-8">
			<span>Quem somos </span>
			<span class="text-gradient bg-gradient-to-t from-sw-primary-300 to-sw-flamingo">nós</span>
			<span>?</span>
		</h1>
	</header>

	<section class="grid grid-cols-1 md:grid-cols-2 gap-8">
		<div>
			<p>Somos um pequeno estúdio brasileiro de produção de diversos conteúdos audiovisuais.</p>
			<p>
				Criamos <span class="text-sw-flamingo font-bold">experiências únicas</span> e, como se com magia, buscamos
				encantar com sorrisos através da imersão e interatividade.
			</p>
		</div>
		<figure>
			<img src={swIcon} alt="" width="50%" />
		</figure>
	</section>
</div>
