---
import { Image } from '@astrojs/image/components';
import contactImage from '@images/cosmonaut_suit.png';

export interface Props {
	[props: string]: any;
}

const { ...props } = Astro.props as Props;
---

<div {...props}>
	<header>
		<h2 class="text-4xl font-black uppercase">
			<span>Entre em contato</span>
		</h2>
		<h3 class="mb-12">
			<span class="text-gradient bg-gradient-to-t from-sw-navy-700 to-sw-flamingo">Nos conte uma história</span>
		</h3>
	</header>

	<section class="flex my-8 text-justify">
		<div class="w-full flex">
			<div class="w-full h-auto bg-sw-coal hidden lg:block lg:w-2/5 rounded-l-2xl overflow-hidden">
				<Image class="w-full h-full" fit="contain" format="webp" src={contactImage} alt="" />
			</div>
			<div class="w-full p-4 rounded-2xl lg:rounded-l-none shadow-md bg-gradient-to-b from-sw-secondary-300 to-sw-secondary-600 dark:from-sw-primary-600 dark:to-sw-primary-800">
				<p>
					Entre em contato através do endereço
					<a href="mailto:contato@spacewiz.dev?subject=Contato&body=Olá! Gostaria de entrar em contato.">contato@spacewiz.dev</a>.
				</p>
			</div>
		</div>
	</section>
</div>
