---
import { SiteIcon } from '@atoms/SiteIcon';
import { Icon } from 'astro-icon';
---

<footer class="text-xs md:text-sm">
	<section class="w-full py-8 bg-sw-coal-500">
		<div class="flex flex-col spacewiz__container bg-sw-coal-500">
			<div class="h-full grid grid-cols-4 gap-8">
				<div>
					<p class="mb-3 font-semibold uppercase text-white">Portifólio</p>
					<ul class="text-gray-400">
						<li class="my-2">
							<a class="hover:underline" href="#">Apps</a>
						</li>
						<li class="my-2">
							<a class="hover:underline" href="#">AR/VR</a>
						</li>
						<li class="my-2">
							<a class="hover:underline" href="#">Games</a>
						</li>
						<li class="my-2">
							<a class="hover:underline" href="#">Web</a>
						</li>
					</ul>
				</div>
				<div>
					<p class="mb-3 font-semibold uppercase text-white">Nossas redes</p>
					<ul class="text-gray-400">
						<li class="my-2">
							<a class="hover:underline" href="#">Sobre Nós</a>
						</li>
						<li class="my-2">
							<a class="hover:underline" href="#">Contato</a>
						</li>
						<li class="my-2">
							<a class="hover:underline" href="#">Press kit</a>
						</li>
					</ul>
				</div>
				<div>
					<p class="mb-3 text-sm font-semibold uppercase text-white">Redes Sociais</p>
					<div class="flex gap-2">
						<a href="https://www.instagram.com/spacewiz.dev/" class="text-gray-500 hover:text-white">
							<Icon name="mdi:instagram" class="w-6 h-6" />
							<span class="sr-only">Instagram page</span>
						</a>
						<a
							href="https://github.com/Space-Wizard-Studios/sw-site/"
							class="text-gray-500 hover:text-white"
						>
							<Icon name="mdi:github" class="w-6 h-6" />
							<span class="sr-only">GitHub account</span>
						</a>
					</div>
				</div>
				<div>
					<p class="mb-3 font-semibold uppercase text-white">Lenga lenga Jurídico</p>
					<ul class="text-gray-400">
						<li class="my-2">
							<a class="hover:underline" href="/policies/privacy">Privacidade e Cookies</a>
						</li>
						<li class="my-2">
							<a class="hover:underline" href="/policies/terms">Termos de Uso</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="flex mt-4 justify-center md:justify-end w-full">
				<div class="w-12 h-12 text-white">
					<SiteIcon client:load />
				</div>
			</div>
		</div>
	</section>

	<section class="w-full py-4 bg-sw-coal-600 border-0 border-t-2 border-white">
		<div class="flex items-center justify-center spacewiz__container text-center">
			<p class="text-gray-400">
				2023 - Space Wizard Studios
				<br />
				<span class="text-light text-xs"
					>Este é um projeto de código aberto, acesse <a
						href="https://github.com/Space-Wizard-Studios/sw-site/"
						class="hover:underline">o repositório</a
					>!</span
				>
			</p>
		</div>
	</section>
</footer>
