---
import { LoremIpsum } from 'lorem-ipsum';
import DividerArrowDown from '@atoms/DividerArrowDown.astro';

const lorem = new LoremIpsum(
	{
		sentencesPerParagraph: {
			max: 10,
			min: 5,
		},
		wordsPerSentence: {
			max: 20,
			min: 10,
		},
	},
	'html'
);
---

<DividerArrowDown class="bg-sw-dark-700"/>

<div class="bg-sw-dark-700"></div>

<div class="text-center p-8 text-sw-secondary bg-sw-dark-700">© 2022 Space Wizard Studios. Todos os direitos reservados</div>
