---
import '@styles/toggle.scss';

import { SiteLogo } from '@atoms/SiteLogo';

import { MenuLinks } from '@atoms/MenuLinks';

import ButtonToggleMenu from '@core/ButtonToggleMenu.astro';
import ButtonToggleTheme from '@core/ButtonToggleTheme';
---

<header class="sticky top-0 z-40 w-full md:backdrop-blur-sm shadow-md bg-sw-secondary/95 dark:bg-sw-primary/95">
	<nav class="flex w-full h-16 lg:h-28 justify-center items-center">
		<div class="flex w-full spacewiz__container items-center justify-between">
			<a class="w-48 spacewiz__fill" href="/" title="Space Wizard Studios">
				<span class="sr-only">Space Wizard Studios</span>
				<SiteLogo client:idle />
			</a>

			<!-- MOBILE -->
			<div class="flex flex-grow justify-end md:hidden gap-8">
				<ButtonToggleTheme client:idle />
				<ButtonToggleMenu />
			</div>

			<!-- DESKTOP -->
			<div class="hidden md:flex md:flex-grow justify-end">

				<MenuLinks client:idle />

				<div class="items-center md:flex">
					<ButtonToggleTheme client:idle />
				</div>
			</div>
		</div>
	</nav>

	<nav class="hidden absolute w-full spacewiz__container bg-sw-secondary" id="menu">
		<ul class="flex flex-col p-4">
			<li>
				<a
					href="/"
					class="block p-3 md:p-0 rounded text-sw-coal-400 hover:text-sw-navy dark:text-white dark:hover:text-sw-flamingo"
					aria-current="page">Início</a
				>
			</li>
			<li>
				<a
					href="/projects"
					class="block p-3 md:p-0 rounded text-sw-coal-400 hover:text-sw-navy dark:text-white dark:hover:text-sw-flamingo"
					>Projetos</a
				>
			</li>
		</ul>
	</nav>
</header>
