---
import { Image } from '@astrojs/image/components';
import logoHorizontal from '@images/spacewiz_logo_horizontal_negative.svg';

import ButtonToggleMenu from '@core/ButtonToggleMenu.astro';
import ButtonToggleTheme from '@core/ButtonToggleTheme';
---

<header
	class="sticky top-0 z-40 w-full flex-none mx-auto md:backdrop-blur-sm shadow-md bg-sw-secondary dark:bg-sw-primary"
>
	<div class="py-6 px-6 mx-auto w-full md:flex md:justify-between max-w-6xl">
		<nav class="flex justify-between">
			<a class="flex items-center w-48" href="/">
				<svg class="spacewiz__fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 200">
					<g>
						<g>
							<path
								class="cls-2"
								d="M183.98,38.61c14.1,0,23.62,2.55,23.62,7.31v13.09c0,1.87-.68,5.1-6.46,5.1h-1.36c-2.72,0-8.84-1.87-13.76-1.87-4.08,0-7.31,1.36-7.31,6.8s1.53,7.99,8.16,13.42c20.22,16.65,24.3,28.55,24.3,42.31,0,7.82-.17,14.95-4.59,21.58-5.61,8.5-14.44,11.73-18.18,12.75-4.59,1.19-11.05,1.87-16.31,1.87-12.58,0-24.81-2.38-24.81-9.18v-13.08c0-2.04,1.7-4.08,6.29-4.08s8.16,2.55,17.84,2.55c4.76,0,11.22-3.74,11.22-9.01,0-3.91-.17-6.8-10.54-16.99-15.8-15.46-23.28-22.6-23.28-36.54,0-33.48,21.58-36.03,35.18-36.03Z"
							></path>
							<path
								class="cls-2"
								d="M244.82,121.54v24.98c0,6.8,0,13.59-10.2,13.59h-8.5c-10.2,0-10.2-6.8-10.2-13.59V53.05c0-6.8,0-13.59,10.2-13.59h36.88c18.35,0,28.72,14.95,28.72,38.75,0,9.52-2.72,22.26-5.27,27.53-5.44,11.56-21.58,13.25-31.1,13.25-4.25,0-6.29-.34-6.29-.34-4.08,0-4.25,1.36-4.25,2.89Zm-.17-50.81c0,2.21,.17,5.1,.17,8.67s-.17,6.46-.17,8.5c0,5.61,1.02,6.63,7.82,6.63,9.01,0,9.35-7.48,9.35-15.12s-1.7-16.99-9.35-16.99c-6.8,0-7.82,2.21-7.82,8.33Z"
							></path>
							<path
								class="cls-2"
								d="M371.42,151.62c0,7.82-5.27,8.5-14.95,8.5h-9.01c-10.54,0-5.27-25.49-12.07-25.49h-13.59c-6.8,0-2.89,25.49-13.09,25.49h-7.99c-8.84,0-14.11-.68-14.11-8.5,0-10.2,4.08-19.2,17.33-98.56,1.36-8.5,4.76-13.59,11.56-13.59h26.17c6.8,0,10.2,5.1,11.9,13.59,11.56,69.67,17.84,88.37,17.84,98.56Zm-49.45-45.2c0,2.72,1.19,2.72,6.63,2.72s6.63,0,6.63-2.55c0-.68,0-1.53-.17-2.72-2.04-16.65-2.72-37.22-6.46-37.22s-4.76,20.39-6.46,37.22c-.17,1.02-.17,1.87-.17,2.55Z"
							></path>
							<path
								class="cls-2"
								d="M424.44,38.61c4.25,0,6.46,2.04,6.46,5.44v14.96c0,1.7,0,4.25-6.46,4.25-3.4,0-3.57-.34-5.44-.34-16.14,0-16.14,29.4-16.14,35.52,0,5.78,.17,37.39,15.46,37.39,2.21,0,2.21-.34,6.12-.34,6.46,0,6.46,6.12,6.46,7.82v11.39c0,4.25-2.21,6.29-6.46,6.29-24.13,0-52.17-11.05-52.17-62.88,0-48.43,28.04-59.48,52.17-59.48Z"
							></path>
							<path
								class="cls-2"
								d="M465.22,129.02c.34,3.74,3.74,5.61,7.14,5.61,9.69,0,12.92-.34,16.48-.34,7.14,0,9.35,2.04,9.35,7.14v11.9c0,5.1-1.7,6.8-6.8,6.8h-44.86c-10.2,0-10.2-10.2-10.2-13.59V53.05c0-6.8,0-13.59,10.2-13.59h43.84c4.25,0,7.99,1.7,7.99,5.1v14.45c0,4.08-3.4,4.25-7.65,4.25-6.63,0-11.9-.34-16.14-.34-9.35,0-9.35,3.4-9.35,8.84,0,11.05,0,13.93,8.5,13.93,10.54,0,12.24-.34,16.14-.34,5.95,0,6.29,5.95,6.29,7.82v10.88c0,5.1-3.57,5.44-7.82,5.44-8.67,0-14.1-.34-17.67-.34-5.44,0-5.44,2.38-5.44,7.99v11.9Z"
							></path>
							<path
								class="cls-2"
								d="M589.44,148.22c-3.23,11.73-7.14,11.9-13.25,11.9h-9.35c-9.69,0-11.05-4.93-12.92-13.59-3.57-17.16-17.16-97.71-17.16-102.64,0-3.4,.51-4.42,4.25-4.42h18.35c4.42,0,5.27,2.55,5.95,7.31l11.04,73.58c0,.51,.17,.85,.68,.85s.68-.34,.85-.85c.17-.85,5.44-39.59,5.44-42.31-1.36-9.01-4.59-27.87-4.93-31.78-.17-.85-.17-1.7-.17-2.38,0-3.06,1.02-4.42,4.08-4.42,2.89,0,7.82,.34,11.22,.34,1.53,0,13.08-.34,14.61-.34,2.72,0,3.91,1.19,3.91,4.42,0,.68-.17,1.53-.17,2.38-.34,3.91-2.89,22.94-2.89,31.95,0,3.06,7.65,42.14,7.65,42.14,0,.51,.17,.85,.68,.85s.68-.34,.85-.85l7.31-74.09c.17-4.25,1.7-6.8,5.61-6.8h19.88c2.72,0,3.23,1.19,3.23,4.08,0,5.27-11.39,85.82-14.79,102.98-1.53,8.16-2.38,13.59-11.05,13.59h-12.24c-6.46,0-9.35,0-12.07-11.9-2.38-10.03-5.44-22.6-7.48-22.6-1.19,0-4.93,14.44-7.14,22.6Z"
							></path>
							<path
								class="cls-2"
								d="M687.84,146.52c0,6.8,0,13.59-10.2,13.59h-8.5c-10.2,0-10.2-6.8-10.2-13.59V53.05c0-6.8,0-13.59,10.2-13.59h8.5c10.2,0,10.2,6.8,10.2,13.59v93.47Z"
							></path>
							<path
								class="cls-2"
								d="M728.11,132.92c0,1.7,1.87,1.7,3.4,1.7,9.01,0,20.56-.34,24.13-.34,7.14,0,9.35,3.74,9.35,8.84v12.07c0,4.93-3.74,4.93-7.82,4.93h-52.85c-4.93,0-10.71-1.19-10.71-11.73v-8.33c0-5.61,2.38-7.14,8.84-19.37,22.6-43.16,24.13-44.86,28.04-52.51,.34-.68,.68-1.53,.68-2.21,0-1.53-1.19-3.06-4.93-3.06h-8.16s-5.95,.34-12.92,.34c-8.33,0-9.01-4.25-9.01-7.82v-4.08c0-5.95,0-11.9,10.2-11.9h42.14c12.41,0,14.95,.85,14.95,17.5,0,5.44-1.19,5.78-7.48,18.18-9.01,17.67-18.01,36.37-27.02,54.72,0,0-.85,2.21-.85,3.06Z"
							></path>
							<path
								class="cls-2"
								d="M854.03,151.62c0,7.82-5.27,8.5-14.96,8.5h-9.01c-10.54,0-5.27-25.49-12.07-25.49h-13.59c-6.8,0-2.89,25.49-13.08,25.49h-7.99c-8.84,0-14.1-.68-14.1-8.5,0-10.2,4.08-19.2,17.33-98.56,1.36-8.5,4.76-13.59,11.56-13.59h26.17c6.8,0,10.2,5.1,11.9,13.59,11.56,69.67,17.84,88.37,17.84,98.56Zm-49.45-45.2c0,2.72,1.19,2.72,6.63,2.72s6.63,0,6.63-2.55c0-.68,0-1.53-.17-2.72-2.04-16.65-2.72-37.22-6.46-37.22s-4.76,20.39-6.46,37.22c-.17,1.02-.17,1.87-.17,2.55Z"
							></path>
							<path
								class="cls-2"
								d="M902.29,39.46c25.32,0,32.46,18.18,32.46,38.24,0,12.24-.17,20.05-9.86,28.21-4.76,4.08-7.82,1.7-7.82,8.16,0,6.97,2.21,15.46,7.82,15.46,3.06,0,4.93-.85,5.44-.85,5.44,0,6.29,4.59,6.29,12.41,0,3.74-.17,8.33-.17,13.42,0,3.4-1.36,6.46-10.2,6.46-15.63,0-23.62-11.56-26.85-24.13-4.08-15.8-9.18-18.52-10.2-18.52-1.36,0-1.36,2.72-1.36,4.08v24.13c0,6.8,0,13.59-10.2,13.59h-11.9c-6.8,0-6.8-6.8-6.8-13.59V53.05c0-6.8,0-13.59,10.2-13.59h33.14Zm-14.62,30.25c0,2.21,.17,6.12,.17,9.69s-.17,6.46-.17,8.5c0,5.61,1.02,6.63,7.82,6.63,7.65,0,9.35-7.48,9.35-15.12s-1.7-16.99-9.35-16.99c-6.8,0-7.82,1.19-7.82,7.31Z"
							></path>
							<path
								class="cls-2"
								d="M977.06,39.46c37.39,0,42.48,23.79,42.48,60.33s-3.4,60.33-42.48,60.33h-25.49c-10.2,0-10.2-6.8-10.2-13.59V53.05c0-6.8,0-13.59,10.2-13.59h25.49Zm-6.97,28.21c0,19.2,.17,40.11,.17,60.16,0,4.42,.34,8.5,3.4,8.5,12.75,0,13.59-10.2,13.59-37.39,0-23.79-.85-36.54-13.59-36.54-3.06,0-3.57,1.7-3.57,5.27Z"
							></path>
						</g>
					</g>
					<path
						id="wand"
						class="cls-1"
						d="M105.57,145.62c7.57-11.75-2.51-38.36-2.51-38.36,0,0,17.04-20.73,12.87-35.69-2.71-9.73-34.99-7.84-34.99-7.84,0,0-17.08-25.52-27.59-24.72-12.99,1-21.28,34.87-21.28,34.87,0,0-26.98,9.08-30.12,21.78-2.97,12.03,22.29,27.21,22.29,27.21,0,0,1.76,33.23,10.4,37.6,7.87,3.98,34.24-15.87,34.24-15.87,0,0,32.53,7.48,36.69,1.02h0Z"
					></path>
				</svg>
			</a>
			<div class="flex items-center md:hidden">
				<ButtonToggleTheme client:load />
				<ButtonToggleMenu />
			</div>
		</nav>

		<nav
			class="items-center w-full md:w-auto md:flex text-sw-primary dark:text-sw-secondary md:h-auto"
			aria-label="Main navigation"
			id="menu"
		>
			<!-- TODO <ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center collapse w-full md:w-auto collapsed text-xl md:text-base">
				<li>
					<a
						class="font-medium hover:text-sw-primary-900 dark:hover:text-sw-secondary-600 px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="#">Início</a
					>
				</li>
				<li>
					<a
						class="font-medium hover:text-sw-primary-900 dark:hover:text-sw-secondary-600 px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="#">Projetos</a
					>
				</li>
			</ul> -->
			<div class="md:self-center flex items-center mb-4 md:mb-0">
				<div class="hidden items-center md:flex">
					<ButtonToggleTheme client:load />
				</div>
			</div>
		</nav>
	</div>
</header>
