---
import { Image } from '@astrojs/image/components';
import logoHorizontal from '@images/spacewiz_logo_horizontal_negative.svg';

import ButtonToggleMenu from '@core/ButtonToggleMenu.astro';
import ButtonToggleTheme from '@core/ButtonToggleTheme';
---

<header
	class="sticky top-0 z-40 w-full flex-none mx-auto md:backdrop-blur-sm shadow-md bg-sw-secondary dark:bg-sw-primary"
>
	<div class="py-6 px-6 mx-auto w-full md:flex md:justify-between max-w-6xl">
		<nav class="flex justify-between">
			<a class="flex items-center w-48" href="/">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 200">
					<g class="spacewiz__fill">
						<path
							d="M103.7,39.08H18C8.06,39.08,0,47.13,0,57.08v85.7c0,9.94,8.06,18,18,18H103.7c9.94,0,18-8.06,18-18V57.08c0-9.94-8.06-18-18-18Zm.88,17.14c-.52,2-6.33-1.61-6.33-1.61,0,0-2.86,9.58-.4,21.46,.61,2.93,4.85,5.27,5.11,7.53,.24,2.12-2.22,2.52-3.23,2.47-.83-.04-2.56-.69-3.77-1.19-.97,10.96-10.18,19.54-21.38,19.53-.37,0-.74-.01-1.11-.03,0,0,7.19,11.84,7.59,15.39,.13,1.12-2.22,5.03-2.14,5.81,.18,1.86-.23,3.8-.83,4.7-.84,1.28-3.83,6.43-7.17,4.02-2.47-1.79,.69-4.4,.87-5.3,.06-.32-.58-.86-.57-1.19,.09-2.6,2.23-2.54,2.58-2.85,.3-.26,1.92-4.36,1.75-4.87-.53-1.57-4.94-4.42-4.94-4.42,0,0-1.73,19.93-9.11,22.94-1.21,.49-7.97,6.15-10.18,7.81-.74,.56-2.51,3.53-2.6,4.08-.19,1.11-2.67,7.27-7.14,4.75-3.07-1.73-1.62-4.42-1.35-5.02,.53-1.14,2.22-2.4,2.92-3.44,.37-.56,3.45-7.87,2.61-9.47-.51-.97-6.89-1.75-8.06-1.75-1.3,0-4.46,3.89-4.38,4.34,.11,.58,.45,4.27-.37,5.41-.38,.53-3.2,.47-5.58,1.08-3.79,.98-8.17,2.66-9.8,.92-.64-.68-.56-3,0-3.76,.67-.93,2.98-1.41,4.81-2.37,2.08-1.09,3.64-2.59,3.64-2.59,0,0-.38-6.31,.49-8.16,1.89-4.04,11.29-11.72,15.02-13.73,7.72-4.15,8.83-15.44,8.83-15.44l-17.84-17.87c-.23,.77-.75,2.23-1.34,2.34-.34,.06-1.39-.33-1.45-.66-.14-.75,1.11-3.04,1.11-3.04l.09-.22-2.1-2.1s-2.53-3.14,.66-5.26c1.5-1,3.01-.16,4.07,.8l2.05-5.06s-2.16,.12-2.63-.67c-.52-.87,1.04-3.82,1.04-3.82,0,0-1.39-2.74-.52-3.6,.92-.91,3.71-.16,3.71-.16,0,0,2.4-2.27,3.57-1.62,.95,.53,1.16,3.52,1.16,3.52,0,0,2.87,1.67,2.61,2.66-.41,1.52-2.94,2.33-2.94,2.33,0,0-.5,2.86-1.76,3.44-.69,.32-2.6-1.56-2.6-1.56l-2.03,5.51-.24,.64,.03,.04s1.49,.19,1.48,.93c0,.93,.34,2.57,.34,2.57,0,0,19.23,15.58,20.21,15.16,.06-.03,.12-.05,.18-.08-2.53-3.53-4.02-7.85-4.02-12.52,0-7.73,4.11-14.5,10.25-18.27,.46-.5-5.93-3.2-5.4-4.99,.94-3.2,14.3-.4,21.36-4.66,1.3-.79,9.51-10.59,15.46-10.99,7.39-.49,5.7,6.99,7.19,9.72,1.11,2.04,2.83,1.44,2.56,2.46Z"
						></path>
						<g>
							<path
								d="M185.69,38.53c14.1,0,23.62,2.55,23.62,7.31v13.09c0,1.87-.68,5.1-6.46,5.1h-1.36c-2.72,0-8.84-1.87-13.76-1.87-4.08,0-7.31,1.36-7.31,6.8s1.53,7.99,8.16,13.42c20.22,16.65,24.3,28.55,24.3,42.31,0,7.82-.17,14.95-4.59,21.58-5.61,8.5-14.45,11.73-18.18,12.75-4.59,1.19-11.05,1.87-16.31,1.87-12.57,0-24.81-2.38-24.81-9.18v-13.08c0-2.04,1.7-4.08,6.29-4.08s8.16,2.55,17.84,2.55c4.76,0,11.22-3.74,11.22-9.01,0-3.91-.17-6.8-10.54-16.99-15.8-15.46-23.28-22.6-23.28-36.54,0-33.48,21.58-36.03,35.18-36.03Z"
							></path>
							<path
								d="M246.53,121.46v24.98c0,6.8,0,13.59-10.2,13.59h-8.5c-10.2,0-10.2-6.8-10.2-13.59V52.98c0-6.8,0-13.59,10.2-13.59h36.88c18.35,0,28.72,14.95,28.72,38.75,0,9.52-2.72,22.26-5.27,27.53-5.44,11.56-21.58,13.25-31.1,13.25-4.25,0-6.29-.34-6.29-.34-4.08,0-4.25,1.36-4.25,2.89Zm-.17-50.81c0,2.21,.17,5.1,.17,8.67s-.17,6.46-.17,8.5c0,5.61,1.02,6.63,7.82,6.63,9.01,0,9.35-7.48,9.35-15.12s-1.7-16.99-9.35-16.99c-6.8,0-7.82,2.21-7.82,8.33Z"
							></path>
							<path
								d="M373.13,151.54c0,7.82-5.27,8.5-14.95,8.5h-9.01c-10.54,0-5.27-25.49-12.07-25.49h-13.6c-6.8,0-2.89,25.49-13.08,25.49h-7.99c-8.84,0-14.1-.68-14.1-8.5,0-10.2,4.08-19.2,17.33-98.56,1.36-8.5,4.76-13.59,11.56-13.59h26.17c6.8,0,10.2,5.1,11.9,13.59,11.55,69.67,17.84,88.37,17.84,98.56Zm-49.45-45.2c0,2.72,1.19,2.72,6.63,2.72s6.63,0,6.63-2.55c0-.68,0-1.53-.17-2.72-2.04-16.65-2.72-37.22-6.46-37.22s-4.76,20.39-6.46,37.22c-.17,1.02-.17,1.87-.17,2.55Z"
							></path>
							<path
								d="M426.15,38.53c4.25,0,6.46,2.04,6.46,5.44v14.96c0,1.7,0,4.25-6.46,4.25-3.4,0-3.57-.34-5.44-.34-16.14,0-16.14,29.4-16.14,35.52,0,5.78,.17,37.39,15.46,37.39,2.21,0,2.21-.34,6.12-.34,6.46,0,6.46,6.12,6.46,7.82v11.39c0,4.25-2.21,6.29-6.46,6.29-24.13,0-52.17-11.05-52.17-62.88,0-48.43,28.04-59.48,52.17-59.48Z"
							></path>
							<path
								d="M466.93,128.94c.34,3.74,3.74,5.61,7.14,5.61,9.69,0,12.92-.34,16.48-.34,7.14,0,9.35,2.04,9.35,7.14v11.9c0,5.1-1.7,6.8-6.8,6.8h-44.86c-10.2,0-10.2-10.2-10.2-13.59V52.98c0-6.8,0-13.59,10.2-13.59h43.84c4.25,0,7.99,1.7,7.99,5.1v14.45c0,4.08-3.4,4.25-7.65,4.25-6.63,0-11.9-.34-16.14-.34-9.35,0-9.35,3.4-9.35,8.84,0,11.05,0,13.93,8.5,13.93,10.54,0,12.24-.34,16.14-.34,5.95,0,6.29,5.95,6.29,7.82v10.88c0,5.1-3.57,5.44-7.82,5.44-8.67,0-14.1-.34-17.67-.34-5.44,0-5.44,2.38-5.44,7.99v11.9Z"
							></path>
							<path
								d="M591.15,148.14c-3.23,11.73-7.14,11.9-13.25,11.9h-9.35c-9.69,0-11.04-4.93-12.92-13.59-3.57-17.16-17.16-97.71-17.16-102.64,0-3.4,.51-4.42,4.25-4.42h18.35c4.42,0,5.27,2.55,5.95,7.31l11.05,73.58c0,.51,.17,.85,.68,.85s.68-.34,.85-.85c.17-.85,5.44-39.59,5.44-42.31-1.36-9.01-4.59-27.87-4.93-31.78-.17-.85-.17-1.7-.17-2.38,0-3.06,1.02-4.42,4.08-4.42,2.89,0,7.82,.34,11.22,.34,1.53,0,13.08-.34,14.61-.34,2.72,0,3.91,1.19,3.91,4.42,0,.68-.17,1.53-.17,2.38-.34,3.91-2.89,22.94-2.89,31.95,0,3.06,7.65,42.14,7.65,42.14,0,.51,.17,.85,.68,.85s.68-.34,.85-.85l7.31-74.09c.17-4.25,1.7-6.8,5.61-6.8h19.88c2.72,0,3.23,1.19,3.23,4.08,0,5.27-11.38,85.82-14.78,102.98-1.53,8.16-2.38,13.59-11.05,13.59h-12.24c-6.46,0-9.35,0-12.07-11.9-2.38-10.03-5.44-22.6-7.48-22.6-1.19,0-4.93,14.44-7.14,22.6Z"
							></path>
							<path
								d="M689.54,146.44c0,6.8,0,13.59-10.2,13.59h-8.5c-10.2,0-10.2-6.8-10.2-13.59V52.98c0-6.8,0-13.59,10.2-13.59h8.5c10.2,0,10.2,6.8,10.2,13.59v93.47Z"
							></path>
							<path
								d="M729.82,132.85c0,1.7,1.87,1.7,3.4,1.7,9.01,0,20.56-.34,24.13-.34,7.14,0,9.35,3.74,9.35,8.84v12.07c0,4.93-3.74,4.93-7.82,4.93h-52.85c-4.93,0-10.71-1.19-10.71-11.73v-8.33c0-5.61,2.38-7.14,8.84-19.37,22.6-43.16,24.13-44.86,28.04-52.51,.34-.68,.68-1.53,.68-2.21,0-1.53-1.19-3.06-4.93-3.06h-8.16s-5.95,.34-12.92,.34c-8.33,0-9.01-4.25-9.01-7.82v-4.08c0-5.95,0-11.9,10.2-11.9h42.14c12.41,0,14.95,.85,14.95,17.5,0,5.44-1.19,5.78-7.48,18.18-9.01,17.67-18.01,36.37-27.02,54.72,0,0-.85,2.21-.85,3.06Z"
							></path>
							<path
								d="M855.74,151.54c0,7.82-5.27,8.5-14.96,8.5h-9.01c-10.54,0-5.27-25.49-12.07-25.49h-13.59c-6.8,0-2.89,25.49-13.08,25.49h-7.99c-8.84,0-14.1-.68-14.1-8.5,0-10.2,4.08-19.2,17.33-98.56,1.36-8.5,4.76-13.59,11.55-13.59h26.17c6.8,0,10.2,5.1,11.9,13.59,11.56,69.67,17.84,88.37,17.84,98.56Zm-49.45-45.2c0,2.72,1.19,2.72,6.63,2.72s6.63,0,6.63-2.55c0-.68,0-1.53-.17-2.72-2.04-16.65-2.72-37.22-6.46-37.22s-4.76,20.39-6.46,37.22c-.17,1.02-.17,1.87-.17,2.55Z"
							></path>
							<path
								d="M904,39.38c25.32,0,32.46,18.18,32.46,38.24,0,12.24-.17,20.05-9.86,28.21-4.76,4.08-7.82,1.7-7.82,8.16,0,6.97,2.21,15.46,7.82,15.46,3.06,0,4.93-.85,5.44-.85,5.44,0,6.29,4.59,6.29,12.41,0,3.74-.17,8.33-.17,13.42,0,3.4-1.36,6.46-10.2,6.46-15.63,0-23.62-11.56-26.85-24.13-4.08-15.8-9.18-18.52-10.2-18.52-1.36,0-1.36,2.72-1.36,4.08v24.13c0,6.8,0,13.59-10.2,13.59h-11.9c-6.8,0-6.8-6.8-6.8-13.59V52.98c0-6.8,0-13.59,10.2-13.59h33.14Zm-14.61,30.25c0,2.21,.17,6.12,.17,9.69s-.17,6.46-.17,8.5c0,5.61,1.02,6.63,7.82,6.63,7.65,0,9.35-7.48,9.35-15.12s-1.7-16.99-9.35-16.99c-6.8,0-7.82,1.19-7.82,7.31Z"
							></path>
							<path
								d="M978.77,39.38c37.39,0,42.48,23.79,42.48,60.33s-3.4,60.33-42.48,60.33h-25.49c-10.2,0-10.2-6.8-10.2-13.59V52.98c0-6.8,0-13.59,10.2-13.59h25.49Zm-6.97,28.21c0,19.2,.17,40.11,.17,60.16,0,4.42,.34,8.5,3.4,8.5,12.75,0,13.59-10.2,13.59-37.39,0-23.79-.85-36.54-13.59-36.54-3.06,0-3.57,1.7-3.57,5.27Z"
							></path>
						</g>
					</g>
				</svg>
			</a>
			<div class="flex items-center md:hidden">
				<ButtonToggleTheme client:load />
				<ButtonToggleMenu />
			</div>
		</nav>

		<nav
			class="items-center w-full md:w-auto md:flex text-sw-primary dark:text-sw-secondary md:h-auto"
			aria-label="Main navigation"
			id="menu"
		>
			<!-- TODO <ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center collapse w-full md:w-auto collapsed text-xl md:text-base">
				<li>
					<a
						class="font-medium hover:text-sw-primary-900 dark:hover:text-sw-secondary-600 px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="#">Início</a
					>
				</li>
				<li>
					<a
						class="font-medium hover:text-sw-primary-900 dark:hover:text-sw-secondary-600 px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="#">Projetos</a
					>
				</li>
			</ul> -->
			<div class="md:self-center flex items-center mb-4 md:mb-0">
				<div class="hidden items-center md:flex">
					<ButtonToggleTheme client:load />
				</div>
			</div>
		</nav>
	</div>
</header>
