---
import { Image } from '@astrojs/image/components';

import heroImage from '~/assets/images/hero.png';
import DividerWave from '~/components/atoms/DividerWave.astro';
import HeroCanvas from '~/components/atoms/HeroCanvas';
---

<div class="w-[100vw] h-[100vh]">
	<Image class="cover w-full w-[100%] h-[100%]" src={heroImage} alt="" />
	<div class="absolute top-0 right-0 w-[100%] h-[100%]">
		<HeroCanvas client:load />
	</div>
	<DividerWave />
</div>
