---
import { Image } from '@astrojs/image/components';

import heroImageSM from '@images/hero_bg_sm.png';
import heroImageMD from '@images/hero_bg_md.png';

import DividerWave from '@atoms/DividerWave.astro';
import HeroCanvas from '@atoms/HeroCanvas';

---

<section class="min-h-screen relative">
	<DividerWave class="spacewiz__fill--reversed bottom-0"/>
	<Image class="cover w-full h-full block md:hidden" src={heroImageSM} alt="" />
	<Image class="cover w-full h-full hidden md:block" src={heroImageMD} alt="" />
	<figure class="absolute top-0 right-0 w-full h-full">
		<HeroCanvas client:load/>
	</figure>
</section>
