---
import ProductCard from '~/components/atoms/ProductCard.astro';
---

<div class="flex flex-wrap gap-40 p-4 justify-center align-middle">
	<ProductCard title="Games" subtitle="joguins" description="jogões" />
	<ProductCard
		title="Sites"
		subtitle="sites interativos"
		description="desenvolvimento de sites únicos com elementos interativos"
	/>
	<ProductCard title="Apps" subtitle="aplicativos" description="é mentira" />
	<ProductCard title="Sei lá" subtitle="bluberson" description="blibliblibs" />
</div>