---
import ProductCard from '@atoms/ProductCard.astro';

export interface Props {
	[props: string]: any;
}

const { ...props } = Astro.props as Props;
---

<div {...props}>
	<header>
		<h1 class="font-black uppercase text-5xl mb-12">
			<span>O que</span>
			<span class="text-gradient bg-gradient-to-t from-sw-primary-300 to-sw-flamingo">fazemos</span>
		</h1>
	</header>

	<section class="my-8 flex justify-between align-middle">
		<ProductCard
			iconSrc="./models/products/tools.fbx"
			title="Games"
			subtitle="jogos 2D e 3D"
			description="desenvolvimento de <span class='text-sw-navy font-bold dark:text-sw-flamingo'>jogos 2D ou 3D</span> em Unity Engine"
		/>
		<ProductCard
			iconSrc="./models/products/tools.fbx"
			title="Web"
			subtitle="sites interativos"
			description="desenvolvimento de <span class='text-sw-navy font-bold dark:text-sw-flamingo'>experiências gamificadas</span> para Web"
		/>
		<ProductCard
			iconSrc="./models/products/tools.fbx"
			title="Apps"
			subtitle="aplicativos"
			description="desenvolvimento de <span class='text-sw-navy font-bold dark:text-sw-flamingo'>aplicativos nativos</span> para mobile e desktop."
		/>
		<ProductCard
			iconSrc="./models/products/tools.fbx"
			title="Áudio e Música"
			subtitle=""
			description=""
		/>
	</section>
</div>