---
import TeamCard from '@atoms/TeamCard.astro';

export interface Props {
	[props: string]: any;
}

const { ...props } = Astro.props as Props;
---

<div {...props}>
	<header>
		<h1 class="font-black uppercase">
			<span>A tripulação</span>
		</h1>
		<p class="text-2xl mb-12">
			<span class="text-gradient bg-gradient-to-t from-sw-navy-700 to-sw-flamingo">Nosso incrível time</span>
		</p>
	</header>

	<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 text-justify my-16">
		<TeamCard
			photoSrc="https://placeimg.com/192/192/people"
			name="Alexandre Barbosa"
			roles={['Generalista de Áudio']}
			skills={['Composição', 'Produção Musical', 'Efeitos Sonoros', ]}
			links={{
				instagram: 'link',
				soundcloud: 'link',
				linkedin: 'link',
			}}
		/>
		<TeamCard
			photoSrc="./src/assets/images/team/danilo_profile.png"
			name="Danilo Nobre"
			roles={['Generalista 3D']}
			skills={['Modelagem 3D', 'Texturização', 'Rigging', 'Animação']}
			links={{
				instagram: 'link',
				linktree: 'link',
			}}
		/>
		<TeamCard
			photoSrc="./src/assets/images/team/gustavo_profile.png"
			name="Gustavo Arantes"
			roles={['Generalista 2D']}
			skills={['Concept Art', 'Ilustração']}
			links={{
				artstation: 'link',
				instagram: 'link',
			}}
		/>
		<TeamCard
			photoSrc="./src/assets/images/team/rhayane_profile.png"

			name="Rhayane Miranda"
			roles={['Social Media']}
			skills={['Criação', 'Analytics']}
			links={{
				instagram: 'link',
			}}
		/>
		<TeamCard
			photoSrc="https://placeimg.com/192/192/people"
			name="William Magalhães"
			roles={['Programador Full Stack']}
			skills={['Backend', 'Frontend', 'Tech Artist']}
			links={{
				instagram: 'link',
				github: 'link',
			}}
		/>
	</section>
</div>
