---
import { LoremIpsum } from 'lorem-ipsum';

const lorem = new LoremIpsum(
	{
		sentencesPerParagraph: {
			max: 10,
			min: 5,
		},
		wordsPerSentence: {
			max: 20,
			min: 10,
		},
	},
	'html'
);

export interface Props {
	[props: string]: any;
}

const { ...props } = Astro.props as Props;
---

<div {...props}>
	<header>
		<h1 class="font-black uppercase text-5xl">
			<span>A tripulação</span>
		</h1>
		<p class="text-2xl mb-8">
			<span class="text-gradient bg-gradient-to-t from-sw-primary-300 to-sw-flamingo">Nosso incrível time</span>
		</p>
	</header>

	<section class="text-justify mb-12">
		<span set:html={lorem.generateParagraphs(2)}></span>
	</section>
</div>
