---
import TeamCard from '@atoms/TeamCard.astro';

export interface Props {
	[props: string]: any;
}

const { ...props } = Astro.props as Props;
---

<div {...props}>
	<header>
		<h1 class="font-black uppercase">
			<span>A tripulação</span>
		</h1>
		<p class="text-2xl mb-12">
			<span class="text-gradient bg-gradient-to-t from-sw-navy-700 to-sw-flamingo">Nosso incrível time</span>
		</p>
	</header>

	<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 text-justify my-16">
		<TeamCard
			photoSrc="/images/team/alex_profile.png"
			name="Alexandre Barbosa"
			roles={['Generalista de Áudio']}
			skills={['Composição', 'Produção Musical', 'Efeitos Sonoros', ]}
			links={{
				youtube: 'https://www.youtube.com/channel/UCYSb-3wJyK-L0E9YyHeqkiQ',
				imdb: 'https://www.imdb.com/name/nm11223910/?ref_=fn_al_nm_1',
				linkedin: 'https://www.linkedin.com/in/alexandre-barbosa-083b83b4/',
			}}
		/>
		<TeamCard
			photoSrc="/images/team/danilo_profile.png"
			name="Danilo Nobre"
			roles={['Generalista 3D']}
			skills={['Modelagem 3D', 'Texturização', 'Rigging', 'Animação']}
			links={{
				linkedin: 'https://www.linkedin.com/in/danilo-nobre/',
			}}
		/>
		<TeamCard
			photoSrc="/images/team/gustavo_profile.png"
			name="Gustavo Arantes"
			roles={['Generalista 2D']}
			skills={['Concept Art', 'Ilustração']}
			links={{
				portfolio: 'https://gustavarantes.myportfolio.com/',
				linkedin: 'https://www.linkedin.com/in/gustav-arantes/',
			}}
		/>
		<TeamCard
			photoSrc="/images/team/rhayane_profile.png"

			name="Rhayane Miranda"
			roles={['Social Media']}
			skills={['Criação', 'Analytics']}
			links={{
				linkedin: 'https://www.linkedin.com/in/rhayane-miranda/',
			}}
		/>
		<TeamCard
			photoSrc="/images/team/william_profile.png"
			name="William Magalhães"
			roles={['Programador Full Stack']}
			skills={['Backend', 'Frontend', 'Tech Artist']}
			links={{
				instagram: 'https://www.instagram.com/wbmagalhaes/',
				github: 'https://github.com/wbmagalhaes',
			}}
		/>
	</section>
</div>
