---
import TeamCard from '@atoms/TeamCard.astro';

export interface Props {
	[props: string]: any;
}

const { ...props } = Astro.props as Props;
---

<div {...props}>
	<header>
		<h1 class="font-black uppercase text-4xl">
			<span>A tripulação</span>
		</h1>
		<p class="text-2xl mb-8">
			<span class="text-gradient bg-gradient-to-t from-sw-primary-300 to-sw-flamingo">Nosso incrível time</span>
		</p>
	</header>

	<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 text-justify my-16">
		<TeamCard
			photoSrc="https://placeimg.com/192/192/people"
			name="Alexandre Barbosa"
			roles={['Sound Designer']}
			skills={['Concept Art', 'Ilustração', 'Design Gráfico']}
			links={{
				instagram: 'link',
				soundcloud: 'link',
				linkedin: 'link',
			}}
		/>
		<TeamCard
			photoSrc="https://placeimg.com/192/192/people"
			name="Danilo Nobre"
			roles={['Generalista 3D']}
			skills={['Concept Art', 'Ilustração', 'Design Gráfico']}
			links={{
				instagram: 'link',
				linktree: 'link',
			}}
		/>
		<TeamCard
			photoSrc="https://placeimg.com/192/192/people"
			name="Gustavo Arantes"
			roles={['Generalista 2D']}
			skills={['Concept Art', 'Ilustração', 'Design Gráfico']}
			links={{
				artstation: 'link',
				instagram: 'link',
			}}
		/>
		<TeamCard
			photoSrc="https://placeimg.com/192/192/people"
			name="Rhayane Miranda"
			roles={['Social Media Jr.']}
			skills={['Concept Art', 'Ilustração', 'Design Gráfico']}
			links={{
				instagram: 'link',
			}}
		/>
		<TeamCard
			photoSrc="https://placeimg.com/192/192/people"
			name="William Magalhães"
			roles={['Programador Full Stack']}
			skills={['Concept Art', 'Ilustração', 'Design Gráfico']}
			links={{
				instagram: 'link',
				github: 'link',
			}}
		/>
	</section>
</div>
