---
import TeamCard from '@atoms/TeamCard';

export interface Props {
	[props: string]: any;
}

const { ...props } = Astro.props as Props;
---

<div {...props}>
	<header>
		<h2 class="text-4xl font-black uppercase">
			<span>Quem somos</span>
		</h2>
		<h3 class="mb-18">
			<span class="text-gradient bg-gradient-to-t from-sw-navy-700 to-sw-flamingo">Essa é a nossa tripulação</span
			>
		</h3>
	</header>

	<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 text-justify my-16">
		<TeamCard
			client:load
			name="Alexandre Barbosa"
			roles={['Generalista de Áudio']}
			skills={['Composição', 'Prod. Musical', 'SFX']}
			links={{
				imdb: 'https://www.imdb.com/name/nm11223910/',
				linkedin: 'https://www.linkedin.com/in/alexandre-barbosa-083b83b4/',
				youtube: 'https://www.youtube.com/channel/UCYSb-3wJyK-L0E9YyHeqkiQ/',
			}}
			photo="/images/team/alex_profile.wepb"
		/>

		<TeamCard
			client:load
			name="Danilo Nobre"
			roles={['Generalista 3D']}
			skills={['Modelagem 3D', 'Texturização', 'Rigging', 'Animação']}
			links={{
				linkedin: 'https://www.linkedin.com/in/danilo-nobre/',
			}}
			photo="/images/team/danilo_profile.wepb"
		/>

		<TeamCard
			client:load
			name="Gustavo Arantes"
			roles={['Generalista 2D']}
			skills={['Concept Art', 'Ilustração']}
			links={{
				linkedin: 'https://www.linkedin.com/in/gustav-arantes/',
				portfolio: 'https://gustavarantes.myportfolio.com/',
			}}
			photo="/images/team/gustavo_profile.wepb"
		/>

		<TeamCard
			client:load
			name="Rhayane Miranda"
			roles={['Social Media']}
			skills={['Criação', 'Analytics']}
			links={{
				linkedin: 'https://www.linkedin.com/in/rhayane-miranda/',
			}}
			photo="/images/team/rhayane_profile.wepb"
		/>

		<TeamCard
			client:load
			name="William Magalhães"
			roles={['Programador Full Stack']}
			skills={['Backend', 'Frontend', 'Tech Artist']}
			links={{
				github: 'https://github.com/wbmagalhaes/',
				linkedin: 'https://www.linkedin.com/in/william-bernardes-magalhaes/',
			}}
			photo="/images/team/william_profile.wepb"
		/>
	</section>
</div>
