---
export interface Props {
    [props: string]: any;
}

const { ...props } = Astro.props as Props;
---

<div {...props}>
    <svg
        fill='currentColor'
        xmlns='http://www.w3.org/2000/svg'
        width='100px'
        height='40px'
        viewBox='0 0 100 40'
    >
        <polygon points='50,20 0,0 100,0'></polygon>
    </svg>
</div>
