---
import { SiteIcon } from '@icons/SiteIcon';

export interface Props {
    [props: string]: any;
}

const { ...props } = Astro.props as Props;
---

<div {...props}>
    <div class='text-on-surface'>
        <div class='flex flex-col space-y-2'>
            <p>Transformamos ideias em experiências audiovisuais que cativam.</p>
            <p>Combinamos tecnologia, criatividade e interatividade para criar conteúdos imersivos que conectam pessoas e marcas de forma autêntica, emocional e inovadora.</p>
        </div>
    </div>
</div>
