---
import ButtonToggleTheme from '@common/ButtonToggleTheme';
---

<header class='flex flex-col sticky w-full top-0 z-50 items-center justify-center bg-surface-bright text-on-surface shadow-2xl'>
    <div class='container flex flex-row justify-between items-center'>
		<h1>Space Wizard Studios</h1>
        <ButtonToggleTheme client:idle />
    </div>
</header>
