---
import TeamCard from '@common/TeamCard';
import { Portfolio } from '@icons/card_button';

export interface Props {
	[props: string]: any;
}

const { ...props } = Astro.props as Props;
---

<div {...props}>
	<header>
		<h2 class="text-4xl font-black uppercase">
			<span>Quem somos</span>
		</h2>
		<h3 class="mb-18">
			<span class="text-gradient bg-gradient-to-t from-sw-navy-700 to-sw-flamingo">Essa é a nossa tripulação</span
			>
		</h3>
	</header>

	<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 text-justify my-16">
		<TeamCard
			client:visible
			name="Alexandre Barbosa"
			roles={['Generalista de Áudio']}
			skills={[
				{
					name: 'Composição',
					tooltip: 'Composição Musical',
				},
				{
					name: 'Prod. Musical',
					tooltip: 'Produção Musical',
				},
				{
					name: 'SFX',
					tooltip: 'Sound Effects',
				},
			]}
			links={{
				imdb: 'https://www.imdb.com/name/nm11223910/',
				linkedin: 'https://www.linkedin.com/in/alexandre-barbosa-083b83b4/',
				youtube: 'https://www.youtube.com/channel/UCYSb-3wJyK-L0E9YyHeqkiQ/',
			}}
			photoSrc="/images/team/alex_profile.webp"
		/>
		<TeamCard
			client:visible
			name="Danilo Nobre"
			roles={['Generalista 3D']}
			skills={[
				{
					name: 'Modelagem 3D',
					tooltip: 'Modelagem 3D',
				},
				{
					name: 'Texturização',
					tooltip: 'Texturização',
				},
				{
					name: 'Rigging',
					tooltip: 'Rigging',
				},
				{
					name: 'Animação',
					tooltip: 'Animação',
				},
			]}
			links={{
				linkedin: 'https://www.linkedin.com/in/danilo-nobre/',
			}}
			photoSrc="/images/team/danilo_profile.webp"
		/>

		<TeamCard
			client:visible
			name="Gustavo Arantes"
			roles={['Generalista 2D']}
			skills={[
				{
					name: 'Concept Art',
					tooltip: 'Concept Art',
				},
				{
					name: 'Ilustração',
					tooltip: 'Ilustração',
				},
			]}
			links={{
				linkedin: 'https://www.linkedin.com/in/gustav-arantes/',
				portfolio: 'https://gustavarantes.myportfolio.com/',
			}}
			photoSrc="/images/team/gustavo_profile.webp"
		/>

		<TeamCard
			client:visible
			name="Rhayane Miranda"
			roles={['Social Media']}
			skills={[
				{
					name: 'Conteudista',
					tooltip: 'Criação de conteúdo para redes sociais',
				},
				{
					name: 'Analytics',
					tooltip: 'Analytics',
				},
			]}
			links={{
				linkedin: 'https://www.linkedin.com/in/rhayane-miranda/',
			}}
			photoSrc="/images/team/rhayane_profile.webp"
		/>
		
		<TeamCard
			client:visible
			name="William Magalhães"
			roles={['Programador Full Stack']}
			skills={[
				{
					name: 'Backend',
					tooltip: 'Backend',
				},
				{
					name: 'Frontend',
					tooltip: 'Frontend',
				},
				{
					name: 'Tech Artist',
					tooltip: 'Tech Artist',
				},
			]}
			links={{
				github: 'https://github.com/wbmagalhaes/',
				linkedin: 'https://www.linkedin.com/in/william-bernardes-magalhaes/',
			}}
			photoSrc="/images/team/william_profile.webp"
		/>

		<TeamCard
			client:visible
			name="Bárbara Faraco"
			roles={['User Interface Designer']}
			skills={[
				{
					name: 'UX/UI',
					tooltip: 'UX/UI',
				},
			]}
			links={{
				linkedin: 'https://br.linkedin.com/in/barbara-faraco',
				portfolio: 'https://www.behance.net/barbarafaraco',
			}}
			photoSrc='https://mir-s3-cdn-cf.behance.net/user/115/e9f7859574753.609ac6db7b553.jpg'
		/>

		<TeamCard
			client:visible
			name="Ruan Blotta"
			roles={['Desenvolvedor Web']}
			skills={[
				{
					name: 'Front End',
					tooltip: 'Front End',
				},
				{		
					name: 'QA',
					tooltip: 'QA',
				},
			]}
			links={{
				github: 'https://github.com/ruanblotta',
				linkedin: 'https://www.linkedin.com/in/ruanblotta/',
			}}
			photoSrc="/images/team/ruan_profile.jpg"
		/>

	</section>
</div>
