---
import { SITE } from '~/config.mjs';
import Layout from '@layouts/HomeLayout.astro';

import Products from '@widgets/Products.astro';
import Contact from '@widgets/Contact.astro';
import About from '@widgets/About.astro';
import Team from '@widgets/Team.astro';

import DividerRect from '@atoms/DividerRect.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
};
---

<Layout>
	<section class="max-w-6xl mx-auto px-6 md:px-8 md:h-screen">
		<Products class="relative z-20" />
	</section>

	<div class="shadow-md bg-sw-secondary-700 dark:bg-sw-primary-700 z-20" >
		<DividerRect class="w-full -mt-16 h-16 absolute z-10 bg-sw-secondary-700 dark:bg-sw-primary-700" />
		<section class="max-w-6xl mx-auto py-8 px-6 md:px-8 md:h-screen">
			<About />
		</section>
	</div>

	<section class="max-w-6xl mx-auto my-16 px-6 md:px-8 md:h-screen">
		<Team />
	</section>

	<section class="max-w-6xl mx-auto my-16 px-6 md:px-8 md:h-screen">
		<Contact />
	</section>
</Layout>
