---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import { LoremIpsum } from 'lorem-ipsum';
import { htmlColorNames } from '@astrojs/image/dist/loaders/colornames';

const meta = {
	title: SITE.title,
	description: SITE.description,
};

const lorem = new LoremIpsum(
	{
		sentencesPerParagraph: {
			max: 10,
			min: 5,
		},
		wordsPerSentence: {
			max: 20,
			min: 10,
		},
	},
	'html'
);
---

<Layout>
	<div class="max-w-6xl mx-auto relative">
		<p class="text-5xl">
			<span>Paragrafo no</span>
			<span class="text-gradient bg-gradient-to-t from-sw-primary-300 to-sw-accent">index</span>
		</p>
		<br />
		<div class="text-justify">
			<span set:html={lorem.generateParagraphs(7)}></span>
		</div>

		<div id="canvas" class="absolute top-0 right-0"></div>
		<script>
			import '~/assets/js/myscript.ts';
		</script>
	</div>
</Layout>
