---
import { CMSPage } from '@components/cms/CMSPage';
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
		<title>SpaceWizard: Admin</title>
	</head>

	<body>
		<CMSPage client:only="react" />
	</body>
</html>
