---
import MetaTags from '@common/MetaTags.astro';
import { getInitialTheme, applyTheme } from '@lib/getInitialTheme';

import type { metaSEO } from '@schemas/common/seoSchema';

import '@styles/theme.css';
import Footer from '@common/Footer/Footer.astro';
import Header from '@common/Header/Header.astro';

type Props = {
    seo?: metaSEO;
};

const { seo } = Astro.props as Props;
---

<!doctype html>
<html lang='pt' class='motion-safe:scroll-smooth'>
    <head>
        <script is:inline>
            document.documentElement.classList.toggle(
                'dark',
                localStorage.theme === 'dark' ||
                    (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches),
            );
        </script>
        <MetaTags seo={seo} />
    </head>

    <body class='relative flex flex-col w-full overflow-x-hidden bg-surface-bright'>
        <Header />
        <main class='flex flex-col w-full min-h-dvh'>
            <slot />
        </main>
        <Footer />
    </body>
</html>
