---
// import '@styles/style.scss';
// import '@styles/focus.scss';
// import '@styles/scrollbar.scss';
// import '@styles/text.scss';

import MetaTags from '@common/MetaTags.astro';
import { getInitialTheme, applyTheme } from '@helpers/getInitialTheme';

import type { MetaSEO } from 'types/metaSEO';
// TODO - DEFAULT SEO CONFIG
// import { config } from '@config.js';

import '@styles/theme.css';
import Footer from '@widgets/Footer.astro';
import Header from '@widgets/Header.astro';

type Props = {
    meta?: MetaSEO;
};

const { meta } = Astro.props as Props;
---

<!doctype html>
<html lang='pt' class='motion-safe:scroll-smooth'>
    <head>
        <script
        is:inline 
        define:vars={{ getInitialThemeFn: getInitialTheme.toString(), applyThemeFn: applyTheme.toString() }}
        >
            (function() {
                // Define functions in client scope
                // Get and apply theme before any rendering
                const getInitialTheme = eval(`(${getInitialThemeFn})`);
                const applyTheme = eval(`(${applyThemeFn})`);
                const theme = getInitialTheme();
                applyTheme(theme);
            })();
        </script>
        <MetaTags {...meta} />
    </head>

    <body class='relative flex flex-col w-full overflow-x-hidden bg-surface-bright'>
        <Header />
        <main class='flex flex-col w-full min-h-dvh'>
            <slot />
        </main>
        <Footer />
    </body>
</html>
