---
import Layout from '@layouts/BaseLayout.astro';
---

<Layout>
	<div class="min-h-screen spacewiz__container">
		<div class="pb-8 min-h-screen bg-sw-secondary-200 dark:bg-sw-primary-700">
			<main class="px-8">
				<slot />
			</main>
		</div>
	</div>
</Layout>
