---
export interface Props {
	[props: string]: any;
}

const { ...props } = Astro.props as Props;
---

<div {...props}>
	<div class="relative w-full top-0">
		<svg
		class="mx-auto left-0 right-0"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			width="96px"
			height="96px"
			viewBox="0 0 100 100"
			xml:space="preserve"
		>
			<polygon points="50,40 0,0 100,0"></polygon>
		</svg>
	</div>
</div>
