---
import { Icon } from 'astro-icon';

import ToggleCard from '~/components/atoms/ToggleCard';
import CardIconCanvas from './CardIconCanvas';

export interface Props {
	iconSrc: string;
	title: string;
	subtitle: string;
	description: string;
}

const { iconSrc, title, subtitle, description } = Astro.props as Props;
---

<ToggleCard client:load>
	<CardIconCanvas fbxPath={iconSrc} slot="cardIcon" client:load />
	<h2 slot="title" class="card-title" set:html={title}></h2>
	<p slot="subtitle" set:html={subtitle}></p>
	<p slot="description" set:html={description}></p>

	<Icon slot="buttonIconPlus" name="akar-icons:plus" class="w-6 h-6" />
	<Icon slot="buttonIconMinus" name="akar-icons:minus" class="w-6 h-6" />
</ToggleCard>
