---
import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon';

import defaultIconSrc from '~/assets/images/placeholder_128_8rem.png';
import ToggleCard from '~/components/atoms/ToggleCard';

export interface Props {
	iconSrc?: string;
	title: string;
	subtitle: string;
	description: string;
}

const { iconSrc = defaultIconSrc, title, subtitle, description } = Astro.props as Props;
---

<ToggleCard client:load>
	<Image slot="cardIcon" src={iconSrc} alt="" />
	<h2 slot="title" class="card-title">{title}</h2>
	<p slot="subtitle">{subtitle}</p>
	<p slot="description">{description}</p>
	<Icon slot="buttonIconPlus" name="akar-icons:plus" class="w-6 h-6" />
	<Icon slot="buttonIconMinus" name="akar-icons:minus" class="w-6 h-6" />
</ToggleCard>
