---
import { getAllProjects } from '@helpers/projectHelpers';
import Layout from '@layouts/PageLayout.astro';

export async function getStaticPaths() {
    const processedProjects = await getAllProjects();

    return processedProjects.map((project) => ({
        params: { slug: project.slug },
        props: { project },
    }));
}

const { project } = Astro.props;
---

<Layout meta={{ title: project.data.title }}>
    <div class='sw-container py-8'>
        <h1>{project.data.title}</h1>
    </div>
</Layout>
