---
import Layout from '@layouts/PageLayout.astro';
import { Gallery } from '@widgets/Portfolio/Portfolio.astro';

import { config } from '@config.js';
import type { MetaSEO } from 'types/metaseo';

const meta: MetaSEO = {
    title: config.title,
    description: config.description,
    canonical: Astro.url.toString(),
    og: {
        type: 'website',
    },
};
---

<Layout meta={meta}>
    <section class='flex flex-col w-full relative'>
        <div class='sw-container flex flex-col space-y-10'>
            <div class='flex flex-col py-8 space-y-4'>
                <header class='flex flex-col space-y-2'>
                    <h2 class='uppercase text-on-surface'>Projetos</h2>
                    <h3 class='sw-animation sw-pulse sw-to-b from-primary to-accent'>Um gostinho do que fazemos</h3>
                </header>
                <Gallery />
            </div>
        </div>
    </section>
</Layout>
