---
import heroImageMobile from '/public/images/hero_sm.png';
import heroImageDesktop from '/public/images/hero_md.png';
import DividerWave from '@common/DividerWave.astro';
import { cn } from '@helpers/cn';

export interface Props {
    className?: string;
}

const { className } = Astro.props as Props;
// bellow you'll see a hacky way of hiding the fixed hero
// it happens after scrolling 50% of the page 
// so it doesn't mess with the footer clip path to transparent
// please don't look at this too much
---
<div 
class={cn(
'sw-animation sw-root-scroll sw-opacity-down',
'flex flex-col relative w-full h-screen overflow-hidden', className)}
style='--root-scroll-entry: 50%; --root-scroll-exit: 50%;'
>
    <picture>
        <source media='(max-width: 767px)' srcset={heroImageMobile.src} />
        <source media='(min-width: 768px)' srcset={heroImageDesktop.src} />
        <img
            src={heroImageDesktop.src}
            alt='Banner da nossa mascote no espaço.'
            class='w-screen h-screen object-cover fixed'
            loading='eager'
        />
    </picture>
    <DividerWave class='absolute w-full bottom-0 text-surface-bright' />
</div>
