---
import heroImageMobile from '/public/images/hero_sm.png';
import heroImageDesktop from '/public/images/hero_md.png';
import DividerWave from '@common/dividers/DividerWave.astro';
import { cn } from '@helpers/cn';

export interface Props {
    className?: string;
}

const { className } = Astro.props as Props;
---

<div class={cn('flex flex-col relative w-full h-screen overflow-hidden', className)}>
    <picture>
        <source media='(max-width: 767px)' srcset={heroImageMobile.src} />
        <source media='(min-width: 768px)' srcset={heroImageDesktop.src} />
        <img
            src={heroImageDesktop.src}
            alt='Banner da nossa mascote no espaço.'
            class='w-screen h-screen object-cover fixed'
            loading='eager'
        />
    </picture>
    <DividerWave class='absolute w-full bottom-0 text-surface-bright' />
</div>
