---
import Layout from '@layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
    const policies = await getCollection('policies');
    return policies.map((policy) => ({
        params: { slug: policy.slug },
        props: { policy },
    }));
}

type Props = {
    policy: CollectionEntry<'policies'>;
};

const { policy } = Astro.props;
const { Content } = await policy.render();

const seo = {
    title: policy.data.title,
};
---

<Layout seo={seo}>
    <div class='relative flex flex-col bg-surface-bright text-on-surface z-10'>
        <article class='flex flex-col w-full md:sticky top-0 pt-12 md:py-24'>
            <div class='sw-container flex flex-col space-y-4 z-10'>
                <header>
                    <h1 class='sw-display text-primary pb-2'>{policy.data.title}</h1>
                </header>
                <Content />
            </div>
        </article>
    </div>
</Layout>
