@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply inline-flex items-center justify-center rounded border border-transparent font-medium text-center text-base leading-snug transition py-3 px-6 shadow-lg ease-in duration-200 focus: ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2;
	}
}

#DividerWave {
	@apply stroke-sw-secondary;
}

.dark #DividerWave {
	@apply stroke-sw-primary;
}

[data-sw-btn-toggle-menu] path {
	@apply transition;
}

[data-sw-btn-toggle-menu].toggled g>path:first-child {
	@apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-sw-btn-toggle-menu].toggled g>path:last-child {
	@apply rotate-45 translate-y-[-8px] translate-x-[14px];
}


[data-sw-btn-toggle-theme] {
	// sun
	svg:first-child {
		@apply opacity-100;
	}
	// moon
	svg:last-child {
		@apply opacity-0;
	}

	&.toggled {
		// sun
		svg:first-child {
			@apply opacity-0;
		}
		// moon
		svg:last-child {
			@apply opacity-100;
		}
	}
}

.text-gradient {
	font-weight: 900;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 100% 200%;
	background-position-y: 100%;
	border-radius: 0.4rem;
	animation: pulse 4s ease-in-out infinite;
	-webkit-animation: pulse 4s ease-in-out infinite;
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	-ms-border-radius: 0.4rem;
	-o-border-radius: 0.4rem;
}

@keyframes pulse {
	0%,
	100% {
		background-position-y: 0%;
	}
	50% {
		background-position-y: 50%;
	}
}

