@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-lg;
	}

	h5 {
		@apply text-lg;
	}

	h6 {
		@apply text-base;
	}

	p > a {
		@apply font-semibold decoration-1 underline underline-offset-2 transition-all;
		@apply spacewiz__decoration dark:spacewiz__decoration--reversed;
	}

	.spacewiz {
		&__text-bg-fill {
			@apply spacewiz__text;
			@apply spacewiz__bg;
			@apply spacewiz__fill;

			&--reversed {
				@apply spacewiz__text--reversed;
				@apply spacewiz__bg--reversed;
				@apply spacewiz__fill--reversed;
			}
		}

		&__text {
			@apply text-sw-primary dark:text-sw-secondary;

			&--reversed {
				@apply text-sw-secondary dark:text-sw-primary;
			}

			&--accent {
				@apply font-bold text-sw-navy dark:text-sw-flamingo;
			}
		}

		&__bg {
			@apply bg-sw-primary dark:bg-sw-secondary;

			&--reversed {
				@apply bg-sw-secondary dark:bg-sw-primary;
			}

			&--accent {
				@apply bg-sw-navy dark:bg-sw-flamingo;

				&:hover {
					@apply bg-sw-navy-600 dark:bg-sw-flamingo-600;
				}
			}
		}

		// &__dotted {
		// 	background-image: radial-gradient(ellipse at center, var(--tw-gradient-from) 10%, var(--tw-gradient-to) 12%);
		// 	background-size: 10px 10px;
		// }

		&__fill {
			@apply fill-sw-primary dark:fill-sw-secondary;

			&--reversed {
				@apply fill-sw-secondary dark:fill-sw-primary;
			}
		}

		&__stroke {
			@apply stroke-sw-secondary;

			fill-opacity: 1;
			stroke-width: 1;

			&--reversed {
				@apply stroke-sw-primary;
			}
		}

		&__container {
			@apply max-w-6xl mx-auto px-4 md:px-8;
		}

		&__decoration {
			@apply decoration-sw-navy;

			&--reversed {
				@apply decoration-sw-flamingo;
			}
		}
	}
}

@layer utilities {
	@variants responsive {
		.text-shadow-none {
			text-shadow: none;
		}

		.text-shadow-sm {
			text-shadow: 1px 1px 2px var(--tw-shadow-color);
		}

		.text-shadow {
			text-shadow: 2px 2px 4px var(--tw-shadow-color);
		}

		.text-shadow-md {
			text-shadow: 4px 4px 8px var(--tw-shadow-color);
		}

		.text-shadow-lg {
			text-shadow: 15px 15px 30px var(--tw-shadow-color);
		}
	}
}
