---
import ProjectCard from '@common/ProjectCard/ProjectCard.astro';
import { getAllProjects, type ProcessedProject } from '@helpers/projectHelpers';
import { cn } from '@helpers/cn';

const projects = await getAllProjects('pt');

console.log(
    'Projects:',
    projects.map((p: ProcessedProject) => p.slug),
);

export interface Props {
    className?: string;
}

const { className } = Astro.props as Props;
---

<div class={cn('grid grid-cols-1 md:grid-cols-3 gap-8', className)}>
    {projects.map((project: ProcessedProject) => <ProjectCard project={project} />)}
</div>
