---
import '@styles/style.scss';

import MetaTags from '@core/MetaTags.astro';

import Header from '@widgets/Header.astro';
import Footer from '@widgets/Footer.astro';
import Scripts from '@core/Scripts.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="ptbr" class="motion-safe:scroll-smooth 2xl:text-5">
	<head>
		<MetaTags {...meta} />
	</head>

	<body class="spacewiz__bg--reversed spacewiz__text align-middle">
		<Header />

		<main class="overflow-x-hidden min-h-[100vh]">
			<slot />
		</main>

		<Footer />
		<Scripts />
	</body>
</html>
