---
import '~/assets/styles/base.css';
import Scripts from '~/components/core/Scripts.astro';
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth 2xl:text-[20px]">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="antialiased text-gray-900 dark:text-sw-primary-300 tracking-tight bg-white dark:bg-sw-primary-900">
		<slot />
		<style is:global>

		</style>
		<Scripts />
	</body>
</html>