---
import '~/assets/styles/style.scss';

import MetaTags from '~/components/core/MetaTags.astro';
import Scripts from '~/components/core/Scripts.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="ptbr" class="motion-safe:scroll-smooth 2xl:text-5">
	<head>
		<MetaTags {...meta} />
	</head>

	<body class="antialiased bg-sw-secondary dark:bg-sw-primary text-sw-primary dark:text-sw-secondary align-middle">
		<slot />
		<Scripts />
	</body>
</html>