---
import '~/assets/styles/base.scss';
import Scripts from '~/components/core/Scripts.astro';
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth 2xl:text-5">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="antialiased bg-sw-secondary dark:bg-sw-primary text-sw-primary dark:text-sw-secondary">
		<slot />
		<style is:global>

		</style>
		<Scripts />
	</body>
</html>