---
import '@styles/spacewiz.scss';
import '@styles/focus.scss';
import '@styles/scrollbar.scss';
import '@styles/text.scss';
import '@styles/style.scss';

import MetaTags from '@core/MetaTags.astro';

import Header from '@widgets/Header.astro';
import Footer from '@widgets/Footer.astro';
import Scripts from '@core/Scripts.astro';

import type { MetaSEO } from 'types/metaseo';
import { SITE } from '@/config.mjs';

type Props = {
	meta?: MetaSEO;
};

const { meta } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="pt" class="motion-safe:scroll-smooth 2xl:text-5">
	<head>
		<MetaTags {...meta} />
	</head>

	<body class="spacewiz__bg--reversed spacewiz__text align-middle">
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src={"https://www.googletagmanager.com/ns.html?id=GTM-KH6DHDG"}
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		<Header />

		<main class="overflow-x-hidden min-h-[100vh]">
			<slot />
		</main>

		<Footer />
		<Scripts />
	</body>
</html>
