---
import Layout from '@layouts/BaseLayout.astro';
import Hero from '@widgets/Hero.astro';
import DividerArrowDown from '@atoms/dividers/DividerArrowDown.astro';
---

<Layout>
	<Hero />
	<main>
		<slot />
	</main>
	<DividerArrowDown class="spacewiz__fill--reversed bg-sw-coal-500" />
</Layout>
