---
import Layout from '~/layouts/BaseLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
---

<Layout>
	<Hero />
	<main class="max-w-6xl mx-auto pt-4 px-4 lg:px-0 relative">
		<slot />
	</main>
</Layout>
