---
import Layout from '@layouts/BaseLayout.astro';
import Hero from '@widgets/Hero.astro';
import DividerArrowDown from '@atoms/dividers/DividerArrowDown.astro';

import type { MetaSEO } from 'types/metaseo';

type Props = {
	meta?: MetaSEO;
};

const { meta } = Astro.props as Props;
---

<Layout meta={meta}>
	<Hero />
	<main>
		<slot />
	</main>
	<DividerArrowDown class="spacewiz__fill--reversed bg-sw-coal-500" />
</Layout>
