---
import HeroProject from '@widgets/HeroProject.astro';
import Layout from '@layouts/BaseLayout.astro';

type Props = {
	title: string;
};

const { title } = Astro.props as Props;
---

<Layout>
	<HeroProject />

	<main>
		<article class="spacewiz__container px-6">
			<h1 class="font-black uppercase mb-12">
				<span>Galeria</span>
			</h1>
			<slot />
		</article>
	</main>
</Layout>