---
import Layout from '@layouts/BaseLayout.astro';

import ProjectHero from '@widgets/projects/ProjectHero.astro';
import ProjectCarousel from '@widgets/projects/ProjectCarousel.astro';
import ProjectPartners from '@widgets/projects/ProjectPartners.astro';
import type { ImageProps } from '@widgets/projects/ProjectCarousel.astro';
import type { PartnersProps } from '@widgets/projects/ProjectPartners.astro';

type Props = {
	hero?: string;
	carousel?: ImageProps[];
	partners?: PartnersProps[];
};

const { hero, carousel, partners } = Astro.props as Props;
---

<Layout>
	<div class="min-h-screen spacewiz__container project">
		<div class="pb-8 h-full bg-sw-secondary-100 dark:bg-sw-primary-700">
			{hero && <ProjectHero src={hero} />}

			<article class="px-8">
				<slot />
			</article>

			{carousel && <ProjectCarousel images={carousel} class="px-8"/>}
			{partners && <ProjectPartners partners={partners}/>}
		</div>
	</div>
</Layout>
