---
import Layout from '@layouts/BaseLayout.astro';

type Props = {};

const {} = Astro.props as Props;
---

<Layout>
	<div class="h-full spacewiz__container spacewiz__bg spacewiz__text--reversed mb-20 rounded-b-lg shadow-xl">
		<slot />
	</div>
</Layout>
