---
import { CMSPage } from '@components/cms/CMSPage';
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SpaceWizard: Admin</title>
	</head>

	<body>
		<CMSPage client:only="react" />
	</body>
</html>
